*{
  border: 1px solid red;
}

body {
  font-family: Helvetica;
  background-color: black;
  color:seashell;
  opacity: 0.9
  
  
}
header{
  height: 69px;
  border-bottom: 1px solid seashell;
}
#logo{
  height: 50px;
  margin-left:10px;
  
}

nav {
  display: inline-block;
  position: absolute;
  right: 0px;
  
}
nav li {
  display: inline-block;
  list-style-type: none;
  text-decoration: underline;
}