body {
  font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
  
  font-weight: normal;
  font-size: 50px;
  
}
a{
 
  color: aquamarine;
  font-size: 16px;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: gray;
}

.footer{
  text-align: right;
}